<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :route_id %><br>
    <%= f.number_field :route_id %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br>
    <%= f.number_field :service_id %>
  </div>
  <div class="field">
    <%= f.label :trip_id %><br>
    <%= f.number_field :trip_id %>
  </div>
  <div class="field">
    <%= f.label :trip_headsign %><br>
    <%= f.text_field :trip_headsign %>
  </div>
  <div class="field">
    <%= f.label :direction_id %><br>
    <%= f.number_field :direction_id %>
  </div>
  <div class="field">
    <%= f.label :block_id %><br>
    <%= f.text_field :block_id %>
  </div>
  <div class="field">
    <%= f.label :shape_id %><br>
    <%= f.number_field :shape_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
