<h1>Listing stops</h1>

<table>
  <thead>
    <tr>
      <th>Stop</th>
      <th>Stop code</th>
      <th>Stop name</th>
      <th>Stop desc</th>
      <th>Stop lat</th>
      <th>Stop lon</th>
      <th>Zone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stops.each do |stop| %>
      <tr>
        <td><%= stop.stop_id %></td>
        <td><%= stop.stop_code %></td>
        <td><%= stop.stop_name %></td>
        <td><%= stop.stop_desc %></td>
        <td><%= stop.stop_lat %></td>
        <td><%= stop.stop_lon %></td>
        <td><%= stop.zone_id %></td>
        <td><%= link_to 'Show', stop %></td>
        <td><%= link_to 'Edit', edit_stop_path(stop) %></td>
        <td><%= link_to 'Destroy', stop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stop', new_stop_path %>
